<% content_for :title do %>SocialMogul<% end %>
<% content_for :description do %>Website of SocialMogul<% end %> 
<div id="container">
    <div class="overlay"></div>
    <div class="header">
        <div class="logo">
            <%= image_tag("Waitlist_Logo.png", :alt => "SocialMogul Logo") %>
        </div>
        <div class="headline"> Beta Waitlist </div>
    </div>

    <div class="branding">
        <div class="window">
            <ul class="factlist"></ul>
        </div>
        <h1>We pay for those.</h1>
    </div>
    <hr/>

    <div class="tagline">
        <h2>We connect you with brands. You share them with the world <span>and</span> get a little something in return.</h2>
    </div>

    <div class="how">
        <a href="www.socialmogul.co">How it works</a>
    </div>

    <div class="cta">
        <h3>Be one of the first 300 people to secure a spot for our closed beta</h3>
    </div>


    <div class="wrapper">
        <div class="sign-up">
            <a href="" class="sign-up-button">Sign up</a>
            <div class="input-group">
                <%= simple_form_for @visitor do |f| %>
                    <%= f.error_notification %>
                    <%= f.input :email, label: false, :placeholder => 'Enter your email address' %>
                <%= f.button :submit, "Sign up", :class => "submit" %>
                <% end %>
            </div>
        </div>
    </div>

    <div id="footer">
        <div id="copyright">
            <p>  &#169; 2014 <span>SocialMogul</span> </p>
        </div>

        <div id="social_icons">
            <div class="social_icon">
                <a href="https://twitter.com/BinishLine">
                    <%= image_tag("twitter_icon.png", :alt => "Twitter") %>
                </a>
            </div>
            <div class="social_icon">
                <a href="https://twitter.com/BinishLine">
                    <%= image_tag("twitter_icon.png", :alt => "Twitter") %>
                </a>
            </div>
        </div>

        <div id="links">
            <a href="www.socialmogul.co">Policy</a>
            <a href="www.socialmogul.co">Contact Us</a>
        </div>
    </div>
</div>


